.form-comment {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.comment-entity{
    background-color: aliceblue;
    p {
        text-align: left;
    }

}
.comment-entity:nth-child(n+ 2){
    color: rgb(70, 70, 70);
}

.comment-author {
    font-weight: bold;
    font-size:  12px;
}
.comment-author + p{
    margin-left: 20px;
}